.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteButton {
  transition: 0.4s;
  font-weight: bold;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: #e77e7e;
  color: white;
  border: none;
}

.deleteButton:hover {
  background-color: white;
  color: #e77e7e;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskList-tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.taskList-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.taskList-toolbar-form {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}

.taskList-toolbar-form > input {
  border: none;
  resize: none;
  padding: 10px;
  border: none;
  background-color: white;
}

.taskList-toolbar-form > input:focus {
  outline: none;
}

.taskList-toolbar-message {
  color: var(--secondary);
}

.taskList-task {
  transition-duration: 0.4s;
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 15px;
  padding-bottom: 0;
  padding-top: 0;
  max-width: 50vw;

  overflow-wrap: break-word;
  hyphens: manual;
}

.taskList-task-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 5vw;
}

.taskList-task-header > p {
  color: var(--emphasized);
  font-weight: bold;
  text-align: center;
}

.taskList-task-bottom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.login {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-input-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.login-message {
  text-align: center;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-bottom: 20px;
  padding-left: 40px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--secondary);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
