body {
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: #aedbcb;
  color: var(--magic_mint);

  font-family: "Montserrat", sans-serif;
}

button {
  background-color: #eaf8f2;
  color: #71d3ab;
  border-radius: 10px;
  font-size: 25px;
  padding: 5px;
}
