body {
  margin: 20px;
  padding: 0;
  width: 100%;

  overflow-x: hidden;

  background-color: #aedbcb;
  color: var(--magic_mint);

  font-family: "Montserrat", sans-serif;
}

button {
  transition-duration: 0.4s;
  background-color: #eaf8f2;
  color: #71d3ab;
  border-radius: 10px;
  font-size: 25px;
  padding: 5px;
}

button:hover {
  color: #eaf8f2;
  background-color: #71d3ab;
}
