.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteButton {
  transition: 0.4s;
  background-color: #eb6565;
  color: white;
}

.deleteButton:hover {
  background-color: white;
  color: #eb6565;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskList-tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.taskList-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.taskList-toolbar-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.taskList-toolbar-message {
  color: var(--secondary);
}

.taskList-task {
  transition-duration: 0.4s;
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 15px;
  max-width: 50vw;

  overflow-wrap: break-word;
  hyphens: manual;
}

.taskList-task-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 5vw;
}

.taskList-task-header > p {
  color: var(--emphasized);
  font-weight: bold;
  text-align: center;
}

.taskList-task-bottom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.login {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-input-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.login-message {
  text-align: center;
}
