.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskList-tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.taskList-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.taskList-toolbar-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.taskList-task {
  transition-duration: 0.4s;
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 10px 10px grey;
  max-width: 50vw;

  overflow-wrap: break-word;
  hyphens: manual;
}

.login {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-input-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}
