.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskList-tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.taskList-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.task {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 10px 10px grey;
}

.login {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
}

.login-input {
  display: flex;
  flex-direction: column;
}

.login-input-buttons {
  margin: 10px;
}
